@media (hover: hover) {
	.container__submit {
		&:hover {
			background: #ffffff;
			color: #fc7614;
		}
	}
	.rate-wrapper__item:hover {
		background: #fc7614;
		color: #ffffff;
	}
}
.rate-wrapper {
	&__radio:checked + &__item {
		background: #7c8798;
		color: #ffffff;
	}
}
.submition-container.active {
	transform: translate(0%, 0%);
	animation: thankyou 1.5s linear 0s 1 alternate both;
}

@keyframes thankyou1 {
	0% {
		transform: translate(0%, -100%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}
@keyframes thankyou {
	0% {
		transform: translate(0%, -100%);
	}

	12% {
		transform: translate(0%, calc(-100% + 10.89%));
	}

	24% {
		transform: translate(0%, calc(-100% + 43.56%));
	}

	36% {
		transform: translate(0%, calc(-100% + 98.01%));
	}

	54% {
		transform: translate(0%, calc(-100% + 75.02%));
	}

	74% {
		transform: translate(0%, calc(-100% + 98.37%));
	}

	82% {
		transform: translate(0%, calc(-100% + 93.75%));
	}

	92% {
		transform: translate(0%, calc(-100% + 99.34%));
	}

	96% {
		transform: translate(0%, calc(-100% + 98.46%));
	}

	100% {
		transform: translate(0%, 0%);
	}
}
